run-name: Config updated, check issues
on:
  push:
    paths:
      - ./instruments.json
      - ./tasks.json

env:
  GITHUB_REPO_NAME: instruments
jobs:
    run-updated-reopen:
        runs-on: ubuntu-latest
        name: New config job
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Run issues step
              uses: ./.github/actions/
              with:
                  workflow-action: new-config
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
