run-name: Config updated, check issues
on:
  push:
    paths:
      - './instruments.json'
      - './tasks.json'
    branches:
      - 'master'


env:
  GITHUB_REPO_NAME: instruments
jobs:
    run-updated-reopen:
        runs-on: ubuntu-latest
        name: New config job
        steps:
            - name: Dump github context
              run:   echo "$GITHUB_CONTEXT"
              shell: bash
              env:
               GITHUB_CONTEXT: ${{ toJson(github) }}

            - name: Checkout
              uses: actions/checkout@v4
            - name: Run issues step
              uses: ./.github/actions/
              with:
                  workflow-action: config-change
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
